<!DOCTYPE html>
<html>
<head>
  <title>Perfil</title>
  <link rel="stylesheet" href="/css/estilos.css"> <!-- Agrega la ruta correcta a tu archivo de estilos CSS -->
</head>
<body>
  <nav>
    <ul>
      <li><a href="/crear-producto">Crear Producto</a></li>
      <li><a href="/perfil">Ver Mi Perfil</a></li>
    </ul>
  </nav>

  <h1>Perfil de Usuario</h1>
  <p>Email: <%= usuario.email %></p>
  
  <!-- Agrega más campos según los datos del usuario -->
</body>
</html>